name: Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build & Push Backend Image
        run: |
          docker build -t aakashkamboj/mean-backend ./backend
          docker push aakashkamboj/mean-backend

      - name: Build & Push Frontend Image
        run: |
          docker build -t aakashkamboj/mean-frontend ./frontend
          docker push aakashkamboj/mean-frontend